<div class="container my-2 text-center">
    <h1 class="h1 text-center">Search</h1>
      <div class="form-group">
        <button type="submit" id="btn-id" id="btn-primary" class="btn btn-primary">Search By Id</button>
        <input  id="id" type="text" style="display: none;">
      </div>
      <div class="form-group">
        <button type="submit" id="btn-user" id="btn-primary" class="btn btn-primary">Search By UserName</button>
        <input  id="user" type="text" style="display: none;">
      </div>
      <button type="submit" id="search" id="btn-primary" class="btn btn-primary" style="display: none;">Search</button>
  </div>
  <div class="container my-2">
    <h1 class="h1 text-center">Recent Posts</h1>
  
    <div class="row" id="posts-container">
    </div>
  </div>
  <script src="../app/search.js"></script>